{% extends 'main.html' %} {% block content %}

<a href="{% url 'create_room' %}">Create Room</a>
<div>
  {% for room in rooms %}

  <div
    style="
      display: grid;
      grid-template-columns: repeat(4, 100px);
      margin: 1rem 0;
    "
  >
    <div>{{room.id}}</div>
    <div><a href="{% url 'room' room.id %}">{{room.name}}</a></div>
    <div><a href="{% url 'update_room' room.id%}">Edit</a></div>
    <div><a href="{% url 'delete_room' room.id%}">Delete</a></div>
  </div>

  {% endfor %}
</div>

{% endblock %}
