{% extends 'main.html' %} {% block content %}

<a href="{% url 'create_room' %}" class="btn btn-primary">Create Room</a>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Handler</th>
    </tr>
  </thead>
  <tbody>
    {% for room in rooms %}

    <tr>
      <th scope="row">{{room.id}}</th>
      <td>
        <a href="{% url 'room' room.id %}" class="btn btn-link">
          {{room.name}}
        </a>
      </td>
      <td>
        <a
          href="{% url 'update_room' room.id%}"
          class="btn btn-outline-primary"
        >
          Edit
        </a>
        <a href="{% url 'delete_room' room.id%}" class="btn btn-outline-danger">
          Delete
        </a>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock %}
